<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Accueil</title>
	</head>
	<?php if(key_exists("id", $_SESSION) && $_SESSION["id"] == 'toto'){?>
	<header class="header_admin">
		<a href="?list"> <input type="button" value="Voir les objets"></a>
		<a href="?addWeirdObject"> <input type="button" value="Ajouter un objet insolite"></a>
		<a href="?deconnexion"> <input type="button" value="Se déconnecter"></a>
	</header>
	<?php } else {?>
	<header class="header">
		<a href="?connexion"> <input type="button" value="Se connecter"></a>
		<a href="?inscription"> <input type="button" value="S'inscrire"></a>
	</header>
	<?php } ?>
	<body>

	</body>
</html>