<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Ajouter un objet insolite</title>
		<meta charset="UTF-8" />
	</head>
	<body> 
		<form id="FormAdd" method="post">
		    <label for="name">Nom de l'objet: </label>
		    <input type="text" id="name" name="name" required="required" placeholder="Entrez le nom"/>
		    <br/>
		    <label for="description">Description de l'objet : </label>
		    <input type="text" id="description" name="description" required="required" placeholder="Entrez une description"/>
		    <br/>
		    <label for="price">Prix de l'objet : </label>
		    <input type="text" id="price" name="price" required="required" placeholder="Entrez le prix"/>
		    <br/>
		    <label for="imgURL">Image : </label>
		    <input type="text" id="imgURL" name="imgURL" required="required" placeholder="Entrez l'adresse de l'image"/>
		    <br/>
		    <input class="button" type="submit" name="valider" value="Ajouter"/>
		</form>
	</body>
</html>