<!DOCTYPE html>
<html lang="fr">
<form class="FormLogin" id="FormLogin" method="post">
    <div class="container">
        <label for="name"><b>Nom d'utilisateur : </b></label>
        <input class="test" type="text" id="name" name="name" required="required" placeholder="Entrez votre nom"/>

        <label for="pass"><b>Mot de passe :</b></label>
        <input type="password" id="pass" name="pass" required="required" placeholder="Entrez mot de passe"/>

        <button type="submit" name="valider">Se connecter</button>
    </div>
</form>
</html>