<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<div class="inscription_box">
    <p>Nouvelle utilisateur ?</p>
    <a href="./?connexion" ><p>Déjà utilisateur ?</p></a>
</div>

<form class="FormInscription" method="post">
    <div class="container">
        <label for="name"><b>Votre nom d'utilisateur : </b></label>
        <input type="text" id="name" name="name" required="required" placeholder="Entrez votre nom"/>
        <label for="pass"><b>Votre mot de passe :</b></label>
        <input type="password" id ="pass" name="pass" required="required" placeholder="Entrez votre mot de passe"/>
        <button type="submit" name="valider">S'inscrire</button>
    </div>
</form>
</html>