<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
<h2>S'inscrire</h2>
<form id="FormInscription" method="post">
    <label for="name">Entrez votre nom : </label>
    <input type="text" id="name" name="name" required="required" placeholder="Entrez votre nom"/>
    <br/>
    <label for="pass">Entrez votre mot de passe : </label>
    <input type="password" id ="pass" name="pass" required="required" placeholder="Entrez mot de passe"/>
    <br/>
    <input class="button" type="submit" name="valider" value="S'inscrire"/>
</form>
</body>
</html>