p {
     color: blue;
     text-align: center;
 }

.header {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header_admin {
    text-align: center;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}
header input {
    background-color: #0b79af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: large;
}
header input:hover {
    opacity: 0.8;
}
header {
    background-color: #0b79af;
    border-radius: 10px;
}

header a {
    text-decoration: none;

}
.FormLogin {
    margin-top: 3%;
    border: 3px solid #f1f1f1;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.FormLogin input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

.FormLogin button {
    background-color: #0b79af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;

}

.FormLogin button:hover {
    opacity: 0.8;
}


.FormLogin .container {
    padding: 16px;
}

