<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Détails de l'objet</title>
		<meta charset="UTF-8" />
	</head>
	<body> 
		TODO PAGE DU DETAIL DE L'OBJET (POTENTIELLEMENT RAJOUTER DES CHAMPS DANS LA TABLE POUR QUE CE SOIT PLUS COMPLET)
		YO je suis la page de l'objet numéro <?php echo $_GET['id']; ?>
		<form id="alter" name="alter" method="post">
			<button id="delete" name="delete">Supprimer</button>
			<?php echo '<a href=?modify=' . $_GET['id']. '>' ?> <input type="button" value="Modifier un objet insolite"></a>
		</form>
	</body>
</html>